body {
  background-image:url("background.png");
  background-height: 50px;
  font-size: 8pt;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
}

#banner {
  background-image: url("bannerbackground.png");
  text-align: center;
}

h1 {
	font-size:24pt;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
}

#mainbox {
	border: 3px solid grey;
	width: 800px;
  margin: 0 auto;
}
#rightpart {
	width:250px;
	float: right; 
}
#leftpart {
	width: 550px;
}

#starring {
	background-color:  #A2B964;
	font-family: Arial, sans-serif;
	margin: -2px 0 0 0;
	padding: 10px;
}

#reviews {
  background-image: url("rottenbackground.png");
	height: 83px;
	width: 550px;
}

#rate {
	color: red;
	font-size: 48pt;
	font-weight: bold;

}

#reviewer {
	color: white;
	font-size: 8pt;
}

#img-rotten {
	float: left;
}

.critic {
	display: inline-block;
	background-color: #E1D697;
	border: 2px gray solid;
	font-size: 8pt;
	font-weight: bold;
  padding:8px;
  width: 238.5px;
  margin-bottom: 0;
}

#critic-left {
	float: left;
	width: 47%;
	margin-left: 2%;
}
#critic-right {
	width: 47%;
	float: right;
	margin-left: 2%;
	margin-right: 2%;
}

#page {
	clear: right;
	background-color: #A2B964;
	margin: 0;
	padding: 5px;
	text-align: center;
}

.img-likedOrUnliked {
	float: left;
	margin-right: 5px;
	vertical-align: top;
}

.img-people {
	float: left;
  margin-right: 5px;
}

.name {
	display: inline-block;
	width: 250px;
	margin-bottom: 3em;
}

dt {
	margin-top: 1em;
	font-weight: bold;
}

#link-w3chtml{
position: fixed;
	bottom: 33px;
	right: 0;

}

#link-w3ccss {
	position: fixed;
	bottom: 0;
	right: 0;
}